onnxruntime-gpu==1.13.1
matplotlib==3.6.2
opencv-python==4.7.0.68
scipy==1.11.4
scikit-image==0.19.3
huggingface-hub==0.20.1
dwpose
torch
numpy
pillow
tqdm
moviepy
lpips
librosa
diffusers
transformers
peft
pyyaml
