torch>=2.3.0
torchvision>=0.18.0
diffusers>=0.30.0
transformers>=4.43.0
accelerate>=0.33.0
huggingface_hub>=0.24.0
xformers>=0.0.27
einops>=0.8.0
numpy
scipy==1.11.4
pillow
tqdm
opencv_python==4.7.0.68
scikit_image==0.19.3
matplotlib==3.6.2
moviepy
librosa>=0.10.0
soundfile>=0.12.1
lpips>=0.1.4
onnxruntime==1.13.1
onnxruntime_gpu==1.13.1
dwpose
librosa # dataset.py script
peft>=0.11.0

#venv\Scripts\activate
